$grey100: #03050f;
$grey60: #5e6488;
$grey10: #f8f9ff;
$grey80: #2b304e;
$grey30: #ccd1ee;
$white: #ffffff;
$background: #f8f9ff;
$gradient-green: linear-gradient(86deg, #00f4e2 0%, #00ff7f 100%);

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
